<%- include('header')-%>

	<header id="header">
		<span class="l3 vertical-center bg-orange ">  <%= englishDay %></span>
		<span class=" l1 vertical-center">Todo List</span>
		<span class=" l3 vertical-center bg-orange hindi"><%= hindiDay %>  </span>
	</header>
	<main class="l4">
		<ul>
			
		<% for (var i =0; i < newItem.length;  i++ ) { %>
		<li> <input type="checkbox"> <span> <%= newItem[i] %> </span></li>
		<% } %>
		
		<li>
			<form method="post" action="/">
				<input type="" name="task" placeholder="Enter Task" autocomplete="off">
				<button class="bg-orange" name="button"value="<%= englishDay %>">+</button>
			</form>
		</li>

			
		</ul>
		
		
	</main>

<%- include("footer"); -%>
